<div class="container">
  <%= render 'users/errors', book: @user %>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <h1>User info</h1>
      <%= form_with model:@user, local:true do |f| %>
        <div class="form-group">
          <%= f.label :Name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :Image %>
          <%= f.attachment_field :profile_image, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :Introduction %>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Update User', class: "btn btn-secondary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>